* {
  font-family: 'Ubuntu'; }

img {
  width: 60px;
  image-rendering: pixelated;
  background-color: white;
  border: 1px solid black;
  margin: 1px; }

.opponent__header {
  background-color: lightpink; }

.game__deck {
  background-color: lightblue; }

.game__pile {
  background-color: coral; }

.user__hand {
  background-color: lightgreen; }
