* {
	font-family: 'Ubuntu';
}

img {
	width: 60px;
	height: 36px;
	image-rendering: pixelated;
	background-color: white;
	border: 1px solid black;
	margin: 1px;
}

.opponent__header {
	background-color: lightpink;
}

.opponent__block {
	display: flex;
}

.game__deck {
	background-color: lightblue;
}

.game__pile {
	background-color: coral;
}

.user__hand {
	background-color: lightgreen;
}

.game__popup {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.popup__header {
	background-color: lightblue;
	display: flex;
	text-align: center;
}

.popup__confirm {
	margin: 0 auto;
	height: 50%;
}

.popup__selector {
	margin: 0 auto;
	height: 50%;
	align-self: flex-end;
}

.hidden {
	display: none;
}
